@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*, ::before, ::after {
    padding: 0;
    margin:0;
    /* box-sizing: border-box; */
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

header{
    display: flex;
    padding: 1% 10%;
    /* background-color: #22D4FD; */
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    gap: 80px;
    padding: 4%;
    /* border: 1px solid #22D4FD; */
}

.menu-links{
    text-decoration: none;
    color: #22D4FD;
    font-size: 18px;
    /* font-weight: 600; */
    font-family: 'Montserrat', sans-serif;
}

#saludo {
    /* display: flex; */
    color: #22D4FD;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    border: 1px solid #22D4FD;
    padding: 5px 3px 0.1px;
    border-radius: 8px;
}

#imageMain {
    width: 33vw;
}

.imageMain {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 30vw;
    padding: 1%;
    width: 33vw;
}

/* #imageIcons {
    width: 2.5vw;
} */

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    padding: 2% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    gap: 30px;
    /* border: 1px solid #22D4FD; */
}

.presentacion__contenido__titulo{
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
}

.presentacion__contenido__texto{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    /* border: 1px solid #22D4FD; */
}

.presentacion__enlaces__subtitulo{
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.presentacion__enlaces__link{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 130px;
    width: 26vw;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 1%;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    border: #22D4FD 2px solid;
    /* background-color: rgb(34, 212, 253, 0.4); */
}

.presentacion__enlaces__link:hover{
    background-color: rgb(34, 212, 253, 0.2);
    color: #22D4FD;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
}

.list li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    color: #22D4FD;
    text-decoration: none;
}

footer{
    background-color: #22D4FD;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid #000000; */
}