@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*, ::before, ::after {
    padding: 0;
    margin:0;
}

:root {
    --color-primario: #17153B;
    --color-secundario: #FBF6E2;
    --color-terciario: #36C2CE;
    --color-hover: rgb(8, 131, 149, 0.4);

    --fuente-primaria: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Krona One', sans-serif;

}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

header{
    padding: 1% 10%;
    font-family: var(--fuente-primaria);
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu {
    display: flex;
    gap: 80px;
    padding: 4%;
    justify-content: flex-end;
}

.menu-links{
    text-decoration: none;
    color: var(--color-terciario);
    font-size: 1.1rem;
    font-family: var(--fuente-primaria);
}

.menu-links:hover{
    color: var(--color-secundario);
}

#saludo {
    color: var(--color-terciario);
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
    border: 1px solid #22D4FD;
    padding: 5px 3px 0.1px;
    border-radius: 8px;
}

#imageMain {
    width: 50%;
}

.imageMain {
    display: flex;
    flex-direction: column;
    gap: 30vw;
    padding: 1%;
    width: 40%;
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion {
    padding: 2% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    gap: 30px;
}

.presentacion__contenido__titulo{
    font-size: 2.2rem;
    font-family: var(--fuente-secundaria);
}

.presentacion__contenido__texto{
    font-size: 1.1rem;
    font-family: var(--fuente-primaria);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    /* border: 1px solid #22D4FD; */
}

.presentacion__enlaces__subtitulo{
    font-size: 1.2rem;
    font-family: var(--fuente-secundaria);
    font-weight: 400;
}

.presentacion__enlaces__link{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 35%;
    width: 70%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 1%;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-primaria);
    border: #22D4FD 2px solid;
    /* background-color: rgb(34, 212, 253, 0.4); */
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
    color: var(--color-terciario);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--fuente-primaria);
}

.list li{
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--color-terciario);
    text-decoration: none;
}

footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    font-family: var(--fuente-primaria);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid #000000; */
}

/* versión tablet */

@media (max-width: 768px) {
    header{
        padding: 5%;
    }

    .menu {
        gap: 20px;
        justify-content: center;
    }

    .menu-links{
        font-size: 1rem;
    }

    #saludo {
        font-size: 1.2rem;
    }

    #imageMain {
        width: 80%;
    }

    .imageMain {
        width: 80%;
        
    }

    .presentacion {
        padding: 5%;
        flex-direction: column-reverse;
        gap: 20px;
    }

    #presentation{
        padding: 2% 5%;
        flex-direction: column;
        gap: 20px;
    }

    .presentacion__contenido{
        width: auto;
    }

    .presentacion__contenido__titulo{
        font-size: 2rem;
    }

    .presentacion__contenido__texto{
        font-size: 1.1rem;
    }

    .presentacion__enlaces{
        gap: 10px;
    }

    .presentacion__enlaces__subtitulo{
        font-size: 1.2rem;
    }

    .presentacion__enlaces__link{
        gap: 30%;
        width: 75%;
        font-size: 1rem;
    }

    .list {
        gap: 10px;
    }

    .list li{
        font-size: 1rem;
    }

    footer{
        padding: 10px;
    }
}

/* versión mobile */

@media (max-width: 425px) {
    header{
        padding: 10%;
    }

    .menu {
        gap: 5%;
        justify-content: center;
    }

    .menu-links{
        font-size: 1rem;
    }

    #saludo {
        font-size: 1.2rem;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
        gap: 10%;
    }

    .presentacion__contenido{
        width: auto;
    }

    .presentacion__contenido__titulo{
        font-size: 2rem;
    }

    .presentacion__contenido__texto{
        font-size: 1rem;
    }

    .presentacion__enlaces{
        gap: 10px;
    }

    .presentacion__enlaces__subtitulo{
        font-size: 1rem;
    }

    .presentacion__enlaces__link{
        gap: 30%;
        width: 75%;
        font-size: 1rem;
    }

    .list {
        gap: 10px;
    }

    .list li{
        font-size: 1rem;
    }

    footer{
        padding: 10px;
    }
}

